.dashboard {
    min-height: 100vh;
  
    background: linear-gradient(
      135deg,
      #0f172a,
      #1e293b,
      #334155
    );
  
    color: white;
    padding: 30px;
  }
  
.dashboardbg{
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.dashboard-overlay {
  position:absolute;
  inset: 0;

  display: flex;
  
  

  background: rgba(0, 0, 0, 0.25);
}
.logout{
  height: 50px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
}